<div>
    <div class="flex space-x-10 my-16 px-12">
        <div class="w-1/4 relative">

            <!-- Récupérer la note de la critique -->
            <div id="note"
                class="bg-[#A9B2AE] rounded-full h-16 w-16 max-xl:h-12 max-xl:w-12 flex justify-center items-center absolute -top-4 -right-4">
                <p class="text-black font-roboto text-center text-2xl max-xl:text-xl">9</p>
            </div>
            <img src="../../assets/img/frozen2.jpg" alt="Image" class="w-full" />

            <!-- Récupérer le titre du film -->
            <h1 class="font-roboto text-3xl max-xl:text-2xl text-center mt-4">La reine des neiges</h1> 
        </div>
        <div class="w-10/12">

            <!-- Récupérer le titre de la critique -->
            <h1 class="font-roboto text-3xl max-xl:text-2xl">Titre de la critique</h1>

            <!-- Récupérer la description du commentaire  -->
            <p class="mt-5 font-roboto text-1xl max-xl:text-base">Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Dicta
                Libero, magni nam harum aut et est illum dignissimos voluptatem unde. Architecto harum nihil obcaecati,
                voluptates optio fuga aliquam vero dolores totam maiores rerum laborum? Accusantium a eligendi cum
                laudantium.</p>
        </div>
        <div class="flex flex-col items-center mx-auto w-1/4">
            <img src="../../assets/img/user-icon.png" alt="Image" class="w-5/12" />

            <!-- Infos user qui post -->
            <p class="font-roboto text-1xl max-xl:text-lg">Auteur :</p>
            <p class="font-roboto text-2xl max-xl:text-1xl">Namiou</p>
            <div class="flex mt-2">
                <p class="mr-1 font-roboto text-1xl max-xl:text-lg">Date :</p>
                <p class="font-roboto text-1xl max-xl:text-lg">11/02/2002</p>
            </div>
        </div>
    </div>
    <div>
        <div class="w-3/4 mx-auto">
            <h1 class="text-3xl max-xl:text-2xl font-roboto mb-4">Recettes du film :</h1>
            <p-carousel [value]="images" [numVisible]="2" [numScroll]="1" [circular]="true">
                <ng-template let-image pTemplate="item">
                    <div class="py-2 pr-2 pl-4">
                        <button routerLink="/recipe/recipe-item"
                            class="bg-[#FFFCF9] border-[#031826] border-2 rounded-xl p-2 mr-5 relative transform transition-transform duration-300 hover:scale-105">
                            <div>
                                <div class="flex">
                                    <div class="image-item mr-4 w-5/12">
                                        <div id="image" class="image-item-content">
                                            <!-- Récupérer image de la recette -->
                                            <img src="{{image}}" alt="Image" class="carousel-image rounded-xl" />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="">
                                            <!-- Récupérer le titre de la recette -->
                                            <h2 class="font-roboto text-left text-2xl max-xl:text-xl">Dessert</h2>
                                        </div>
                                        <div>
                                            <!-- Récupérer note de la recette -->
                                            <p-rating [(ngModel)]="value" stars="5">
                                                <ng-template pTemplate="onicon">
                                                    <img src="../../assets/img/ratingcolor.png"
                                                        class="w-10 h-10 max-xl:w-9 max-xl:h-8" />
                                                </ng-template>
                                                <ng-template pTemplate="officon">
                                                    <img src="../../assets/img/rating.png"
                                                        class="w-10 h-10 max-xl:w-9 max-xl:h-8" />
                                                </ng-template>
                                            </p-rating>
                                        </div>
                                        <div class="flex mt-4">
                                            <img src="../../assets/img/time.png"
                                                class="w-7 h-7 max-xl:w-5 max-xl:h-5" />
                                            <div class="flex">
                                                <!-- Récupérer timing -->
                                                <p class="font-roboto text-lg max-xl:text-base ml-2 mr-1">45</p>

                                                <p class="font-roboto text-lg max-xl:text-base">mins</p>
                                            </div>
                                        </div>
                                        <div class="flex mt-4">
                                            <img src="../../assets/img/toque.png"
                                                class="w-7 h-7 max-xl:w-5 max-xl:h-5" />
                                                <!-- Récupérer difficult -->
                                            <p class="font-roboto text-lg max-xl:text-base ml-2">Moyen</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>