<div>
    <div class="flex space-x-10 my-16 px-12">
        <div class="w-1/4 relative">
            <div id="note"
                class="bg-[#A9B2AE] rounded-full h-16 w-16 max-xl:h-12 max-xl:w-12 flex justify-center items-center absolute -top-4 -right-4">
                <p class="text-black font-roboto text-center text-2xl max-xl:text-xl">9</p>
            </div>
            <img src="../../assets/img/frozen2.jpg" alt="Image" class="w-full" />
            <h1 class="font-roboto text-3xl max-xl:text-2xl text-center mt-4">La reine des neiges</h1>
        </div>
        <div class="w-10/12">
            <h1 class="font-roboto text-3xl max-xl:text-2xl">Titre de la critique</h1>
            <p class="mt-5 font-roboto text-1xl max-xl:text-base">Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Dicta
                mollitia commodi
                ullam. Magnam blanditiis doloremque accusamus aliquam aperiam, repudiandae officia hic nesciunt eveniet
                praesentium itaque laudantium tempora, nobis repellendus. Sint.
                Nisi quidem quod, maxime ipsam quisquam tenetur ipsa enim ducimus pariatur sequi inventore reprehenderit
                sapiente doloremque incidunt at dicta exercitationem. Unde sequi iure quasi ea in deserunt, dolores
                reprehenderit sed.
                Architecto cumque ea aperiam odit aspernatur, minima ut similique deserunt obcaecati repellat, neque
                illo
                quidem magni! Nam quaerat, distinctio quo nobis eius nesciunt, dolorem explicabo facilis fuga
                perferendis
                quam laboriosam.
                Laborum, id excepturi doloribus voluptatibus officiis aperiam nulla temporibus voluptates libero,
                tempora et
                fugit pariatur quis iusto porro illo velit dolor perspiciatis ipsam? Velit facere deleniti cupiditate,
                eligendi ratione sint?
                Minima, ad in totam harum perspiciatis unde fugit! Unde minima mollitia necessitatibus sit ducimus,
                repellendus ut quis expedita. Vero laudantium quas suscipit, voluptate similique velit ipsa perferendis
                possimus debitis illo.
                Asperiores omnis accusamus iste, quasi soluta cum quisquam assumenda commodi ipsam! Impedit, sit nulla
                unde
                enim sed aliquam a id quisquam consequuntur beatae dolor ea ut repudiandae dicta dolorem distinctio.
                Corrupti ad alias modi numquam molestias ipsa illum quisquam magni saepe repellat optio distinctio,
                aliquam
                non eligendi nihil suscipit consectetur accusamus fugit aliquid assumenda voluptatibus, eos deserunt?
                Aut,
                porro tempora.
                Quia adipisci repellendus aliquam ullam, praesentium officiis eum animi nisi expedita, sunt quidem
                reprehenderit ducimus ipsa aliquid? Error tenetur reprehenderit, repellendus, delectus temporibus ut
                velit
                officiis, amet nam quidem pariatur.
                Quo, deleniti. Facilis consectetur quaerat error, velit, qui consequatur explicabo esse dolor inventore
                iste
                a et ducimus. Odit provident dignissimos ad quasi voluptatibus soluta distinctio. Eaque maxime excepturi
                est
                numquam.
                Corporis ducimus veritatis ex iusto provident magni odit nesciunt quis sapiente doloremque ullam
                obcaecati
                ab aut sunt sequi minima incidunt, similique possimus! Porro excepturi eum omnis maxime doloremque
                reprehenderit illum.
                Hic dolore quaerat soluta at odit! Sit in ab labore sint libero suscipit, ipsa accusantium vero quisquam
                inventore saepe exercitationem animi, et porro molestias commodi odit magni id quam nobis.
                Cum pariatur dicta itaque vel dolorum molestias omnis vitae corporis qui. Quo repellendus perspiciatis
                quibusdam, laudantium aspernatur quos autem earum voluptates fugiat. Magni porro sit quas rerum velit
                voluptates quo?
                Veritatis, vero aperiam! Modi doloremque totam quia reprehenderit consequuntur cum nam fugiat aspernatur
                dolorum culpa laborum quod, ex repudiandae numquam, voluptates tenetur? Voluptatum saepe quisquam
                mollitia
                natus amet nihil a.
                Veritatis exercitationem animi dolor molestias earum hic unde nihil doloremque voluptates fugit quae
                rerum,
                vero placeat ea eligendi vel id saepe, sequi quisquam odit incidunt, porro amet nulla nam. Libero?
                Ad, quam eligendi harum illo quis fugiat deleniti maxime laborum sit. Illo ducimus mollitia magnam iusto
                inventore dolores recusandae nobis, alias velit reiciendis a odit id ratione rem veniam ullam?
                Voluptatibus nostrum nulla facilis molestias assumenda incidunt non eveniet ab voluptas! Ipsa,
                praesentium,
                cumque illum, veniam nulla quo ratione fugiat molestiae alias amet aspernatur ex vel libero facilis non
                ipsum.
                Dolores enim, reiciendis error omnis tenetur id velit, sapiente illo doloribus nisi recusandae quae vero
                nihil nostrum ad eum nulla, vitae in. Cumque quae quo temporibus modi quisquam autem architecto.
                Nesciunt, vel. Fugiat autem necessitatibus tempora dolore omnis labore libero, dolorum recusandae
                temporibus
                facere adipisci obcaecati magni officia pariatur nam, eligendi mollitia iste blanditiis, soluta eius
                molestias at aliquam facilis!
                Laudantium, fugit. Sed recusandae velit autem, eveniet accusantium inventore, laborum maiores iste, in
                cupiditate quis dolores beatae non ipsam. Modi esse consectetur placeat, nam quas velit earum illo.
                Dicta,
                iste?
                Libero, magni nam harum aut et est illum dignissimos voluptatem unde. Architecto harum nihil obcaecati,
                voluptates optio fuga aliquam vero dolores totam maiores rerum laborum? Accusantium a eligendi cum
                laudantium.</p>
        </div>
        <div class="flex flex-col items-center mx-auto w-1/4">
            <img src="../../assets/img/user-icon.png" alt="Image" class="w-5/12" />
            <p class="font-roboto text-1xl max-xl:text-lg">Auteur :</p>
            <p class="font-roboto text-2xl max-xl:text-1xl">Namiou</p>
            <div class="flex mt-2">
                <p class="mr-1 font-roboto text-1xl max-xl:text-lg">Date :</p>
                <p class="font-roboto text-1xl max-xl:text-lg">11/02/2002</p>
            </div>
        </div>
    </div>
    <div>
        <div class="w-3/4 mx-auto">
            <h1 class="text-3xl max-xl:text-2xl font-roboto mb-4">Recettes du film :</h1>
            <p-carousel [value]="images" [numVisible]="2" [numScroll]="1" [circular]="true">
                <ng-template let-image pTemplate="item">
                    <div class="py-2 pr-2 pl-4">
                        <button routerLink="/recipe/recipe-item"
                            class="bg-[#FFFCF9] border-[#031826] border-2 rounded-xl p-2 mr-5 relative transform transition-transform duration-300 hover:scale-105">
                            <div>
                                <div class="flex">
                                    <div class="image-item mr-4 w-5/12">
                                        <div id="image" class="image-item-content">
                                            <img src="{{image}}" alt="Image" class="carousel-image rounded-xl" />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="">
                                            <h2 class="font-roboto text-left text-2xl max-xl:text-xl">Dessert</h2>
                                        </div>
                                        <div>
                                            <p-rating [(ngModel)]="value" stars="5">
                                                <ng-template pTemplate="onicon">
                                                    <img src="../../assets/img/ratingcolor.png"
                                                        class="w-10 h-10 max-xl:w-9 max-xl:h-8" />
                                                </ng-template>
                                                <ng-template pTemplate="officon">
                                                    <img src="../../assets/img/rating.png"
                                                        class="w-10 h-10 max-xl:w-9 max-xl:h-8" />
                                                </ng-template>
                                            </p-rating>
                                        </div>
                                        <div class="flex mt-4">
                                            <img src="../../assets/img/time.png"
                                                class="w-7 h-7 max-xl:w-5 max-xl:h-5" />
                                            <div class="flex">
                                                <p class="font-roboto text-lg max-xl:text-base ml-2 mr-1">45</p>
                                                <p class="font-roboto text-lg max-xl:text-base">mins</p>
                                            </div>
                                        </div>
                                        <div class="flex mt-4">
                                            <img src="../../assets/img/toque.png"
                                                class="w-7 h-7 max-xl:w-5 max-xl:h-5" />
                                            <p class="font-roboto text-lg max-xl:text-base ml-2">Moyen</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>