<div>
    <div class="my-16 px-12">
        <img src="../../assets/img/frozencupcake.jpg" alt="Image" class="w-1/4" />
    </div>
    <div>

    </div>
    <div>
        <div class="flex flex-col items-center mx-auto w-1/4">
            <img src="../../assets/img/user-icon.png" alt="Image" class="w-5/12" />
            <p class="font-roboto text-1xl">Auteur :</p>
            <p class="font-roboto text-2xl">Namiou</p>
            <div class="flex mt-2">
                <p class="mr-1 font-roboto text-1xl">Date :</p>
                <p class="font-roboto text-1xl">11/02/2002</p>
            </div>
        </div>
    </div>
</div>