<div class="flex flex-col items-center justify-center min-h-screen p-8">
    <div class="max-w-5xl w-full">
        <div class="flex flex-col items-center">
            <div class="flex flex-wrap justify-center items-center">
                <div class="p-4">
                    <img src="../../assets/img/frozencupcake.jpg" alt="Image" class="rounded-lg shadow-lg" />
                </div>
                <div class="ml-5 p-4">
                    <h1 class="text-4xl max-xl:text-3xl font-bold ">Cupcakes</h1>
                    <div class="mt-4">
                        <div>
                            <p-rating [(ngModel)]="value" stars="5">
                                <ng-template pTemplate="onicon">
                                    <img src="../../assets/img/ratingcolor.png"
                                        class="w-12 h-12 max-xl:w-10 max-xl:h-10" />
                                </ng-template>
                                <ng-template pTemplate="officon">
                                    <img src="../../assets/img/rating.png" class="w-12 h-12 max-xl:w-10 max-xl:h-10" />
                                </ng-template>
                            </p-rating>
                        </div>
                        <div class="mt-4">
                            <div class="flex items-center mt-4">
                                <img src="../../assets/img/time.png" width="30rem" height="30rem" />
                                <div class="flex items-center ml-2">
                                    <p class="text-xl font-roboto">45</p>
                                    <p class="text-xl font-roboto">mins</p>
                                </div>
                            </div>
                            <div class="flex items-center mt-4">
                                <img src="../../assets/img/toque.png" width="30rem" height="30rem" />
                                <p class="text-xl ml-2 font-roboto">Moyen</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-8 w-full flex flex-col items-center">
                <p class="text-2xl font-roboto">Ingrédients</p>
                <ul class="grid grid-cols-2 gap-5 mt-2">
                    <li class="flex space-x-2">
                        <img src="../../assets/img/oeuf.png" width="40px" height="40px" />
                        <p class="font-roboto my-auto">Oeuf : 2</p>
                    </li>
                    <li class="flex space-x-2">
                        <img src="../../assets/img/farine.png" width="40px" height="40px" />
                        <p class="font-roboto my-auto">Farine : 140g</p>
                    </li>
                    <li class="flex space-x-2">
                        <img src="../../assets/img/sucre.png" width="40px" height="40px" />
                        <p class="font-roboto my-auto">Sucre : 100g</p>
                    </li>
                    <li class="flex space-x-2">
                        <img src="../../assets/img/sel.png" width="40px" height="40px" />
                        <p class="font-roboto my-auto">Sel : 1 pincée</p>
                    </li>
                    <li class="flex space-x-2">
                        <img src="../../assets/img/beurre.png" width="40px" height="40px" />
                        <p class="font-roboto my-auto">Beurre très mou : 120g</p>
                    </li>
                    <li class="flex space-x-2">
                        <img src="../../assets/img/lait.png" width="40px" height="40px" />
                        <p class="font-roboto my-auto">Lait : 4 c à s</p>
                    </li>
                    <li class="flex space-x-2">
                        <img src="../../assets/img/levure.png" width="40px" height="40px" />
                        <p class="font-roboto my-auto">Levure chimique : 1/2 sachet</p>
                    </li>
                    <li class="flex space-x-2">
                        <img src="../../assets/img/vanille.png" width="40px" height="40px" />
                        <p class="font-roboto my-auto">Vanille : 1 c à c</p>
                    </li>
                </ul>
            </div>
            <div class="mt-8 w-full flex flex-col items-center">
                <p class="text-2xl font-roboto">Préparation</p>
                <ul class="space-y-10 mt-5">
                    <li class="relative">
                        <p class="text-xl font-roboto bg-[#FFFCF9] absolute -top-4 left-3 px-1">Etape : 1</p>
                        <div class="border-2 rounded-lg border-black p-2">
                            <p class="mt-1 ml-2 font-roboto">Préchauffez votre four à 180°c (th 6). Mélangez le beurre
                                et le
                                sucre au batteur électrique, jusqu’à ce que la préparation blanchisse.
                            </p>
                        </div>

                    </li>
                    <li class="relative">
                        <p class="text-xl font-roboto bg-[#FFFCF9] absolute -top-4 left-3 px-1">Etape : 2</p>
                        <div class="border-2 rounded-lg border-black p-2">
                            <p class="mt-1 ml-2 font-roboto">Ajoutez les œufs un à un, puis la farine en pluie, le
                                sel
                                et la
                                levure chimique. Mélangez bien puis incorporez le lait et le parfum de votre choix.
                            </p>
                        </div>
                    </li>
                    <li class="relative">
                        <p class="text-xl font-roboto bg-[#FFFCF9] absolute -top-4 left-3 px-1">Etape : 3</p>
                        <div class="border-2 rounded-lg border-black p-2">
                            <p class="mt-1 ml-2 font-roboto">Déposez 2 cuillères à soupe de votre pâte dans vos
                                moules à
                                muffins
                                ou autres. Mettez-les au four et laissez cuire 20 min. Laissez-les refroidir une
                                fois
                                cuits.
                            </p>
                        </div>
                    </li>
                    <li class="relative">
                        <p class="text-xl font-roboto bg-[#FFFCF9] absolute -top-4 left-3 px-1">Etape : 4</p>
                        <div class="border-2 rounded-lg border-black p-2">
                            <p class="mt-1 ml-2 font-roboto">Préparez le glaçage le temps que les cupcakes
                                refroidissent.
                                Avec un batteur électrique, battez le beurre en crème. Lorsqu'il est ramolli,
                                ajoutez
                                peu à peu le
                                sucre et la vanille. Mélangez pendant environ 5 min, jusqu'à avoir une crème
                                mousseuse.
                                Si votre mélange est trop dense, ajoutez 1 ou 2 cuillères à café de lait. S'il est
                                trop
                                liquide, ajoutez du sucre glace pour l’épaissir.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="flex items-center justify-end space-x-2 mx-auto w-full mt-5">
                <p class="text-lg font-roboto">Créer par</p>
                <p class="text-xl font-roboto text-[#671321]">Namiou</p>
                <img src="../../assets/img/user-icon.png" alt="Image" class="w-12 h-12" />
                <p class="mr-1 text-lg font-roboto">le</p>
                <p class="text-lg font-roboto">11/02/2002</p>
            </div>
            <div class="mt-8 w-full flex flex-col">
                <h1 class="text-3xl font-roboto">Film associé :</h1>
                <button routerLink="/video/video-item"
                    class="relative flex border-2 rounded-md border-black p-4 mt-4 w-1/2 transform transition-transform duration-300 hover:scale-105">
                    <div class="w-1/4">
                        <img src="../../assets/img/frozen2.jpg" alt="Image" class="w-full rounded-lg shadow-lg" />
                    </div>
                    <div class="ml-5 flex-1">
                        <div class="flex ">
                            <h2 class="text-2xl font-roboto">Frozen</h2>
                            <div id="note"
                                class="absolute top-2 right-2 bg-gray-400 rounded-full h-14 w-14 max-xl:h-12 max-xl:w-12 flex justify-center items-center">
                                <p class="text-black text-center text-2xl">9</p>
                            </div>
                        </div>
                        <!-- faire un pipe pour croper le texte-->
                        <p class="text-lg font-roboto mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Dicta
                            mollitia commodiullam. Magnam blanditiis doloremque accusamus aliquam.
                        </p>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>