<div class="p-16">
    <div class="flex space-x-2">
        <p class="font-roboto text-3xl">Voici les résultats pour la recherche :</p>
        <p class="font-roboto text-3xl">Les meilleurs recettes</p>
    </div>
    <div class="space-y-4">
        <button routerLink="/recipe/recipe-item"
            class="bg-[#FFFCF9] border-[#031826] border-2 rounded-xl p-2 mr-5 relative transform transition-transform duration-300 hover:scale-105">
            <div>
                <div class="flex">
                    <div class="image-item mr-4 w-52">
                        <div id="image" class="image-item-content">
                            <img src="../../assets/img/fraisier.jpg" alt="Image" class="carousel-image rounded-xl" />
                        </div>
                    </div>
                    <div>
                        <h2 class="font-roboto text-left text-2xl">Dessert</h2>
                        <div>
                            <p-rating [(ngModel)]="value" stars="5">
                                <ng-template pTemplate="onicon">
                                    <img src="../../assets/img/ratingcolor.png" width="40rem" height="40rem" />
                                </ng-template>
                                <ng-template pTemplate="officon">
                                    <img src="../../assets/img/rating.png" width="40px" height="40px" />
                                </ng-template>
                            </p-rating>
                        </div>
                        <div class="flex mt-4">
                            <img src="../../assets/img/time.png" width="25rem" height="25rem" class="" />
                            <div class="flex">
                                <p class="font-roboto text-lg ml-2">45</p>
                                <p class="font-roboto text-lg">mins</p>
                            </div>
                        </div>
                        <div class="flex mt-4">
                            <img src="../../assets/img/toque.png" width="25rem" height="25rem" class="" />
                            <p class="font-roboto text-lg ml-2">Moyen</p>
                        </div>
                    </div>
                </div>
            </div>
        </button>
        <button routerLink="/recipe/recipe-item"
            class="bg-[#FFFCF9] border-[#031826] border-2 rounded-xl p-2 mr-5 relative transform transition-transform duration-300 hover:scale-105">
            <div>
                <div class="flex">
                    <div class="image-item mr-4 w-52">
                        <div id="image" class="image-item-content">
                            <img src="../../assets/img/fraisier.jpg" alt="Image" class="carousel-image rounded-xl" />
                        </div>
                    </div>
                    <div>
                        <h2 class="font-roboto text-left text-2xl">Dessert</h2>
                        <div>
                            <p-rating [(ngModel)]="value" stars="5">
                                <ng-template pTemplate="onicon">
                                    <img src="../../assets/img/ratingcolor.png" width="40rem" height="40rem" />
                                </ng-template>
                                <ng-template pTemplate="officon">
                                    <img src="../../assets/img/rating.png" width="40px" height="40px" />
                                </ng-template>
                            </p-rating>
                        </div>
                        <div class="flex mt-4">
                            <img src="../../assets/img/time.png" width="25rem" height="25rem" class="" />
                            <div class="flex">
                                <p class="font-roboto text-lg ml-2">45</p>
                                <p class="font-roboto text-lg">mins</p>
                            </div>
                        </div>
                        <div class="flex mt-4">
                            <img src="../../assets/img/toque.png" width="25rem" height="25rem" class="" />
                            <p class="font-roboto text-lg ml-2">Moyen</p>
                        </div>
                    </div>
                </div>
            </div>
        </button>
        <button routerLink="/recipe/recipe-item"
            class="bg-[#FFFCF9] border-[#031826] border-2 rounded-xl p-2 mr-5 relative transform transition-transform duration-300 hover:scale-105">
            <div>
                <div class="flex">
                    <div class="image-item mr-4 w-52">
                        <div id="image" class="image-item-content">
                            <img src="../../assets/img/fraisier.jpg" alt="Image" class="carousel-image rounded-xl" />
                        </div>
                    </div>
                    <div>
                        <h2 class="font-roboto text-left text-2xl">Dessert</h2>
                        <div>
                            <p-rating [(ngModel)]="value" stars="5">
                                <ng-template pTemplate="onicon">
                                    <img src="../../assets/img/ratingcolor.png" width="40rem" height="40rem" />
                                </ng-template>
                                <ng-template pTemplate="officon">
                                    <img src="../../assets/img/rating.png" width="40px" height="40px" />
                                </ng-template>
                            </p-rating>
                        </div>
                        <div class="flex mt-4">
                            <img src="../../assets/img/time.png" width="25rem" height="25rem" class="" />
                            <div class="flex">
                                <p class="font-roboto text-lg ml-2">45</p>
                                <p class="font-roboto text-lg">mins</p>
                            </div>
                        </div>
                        <div class="flex mt-4">
                            <img src="../../assets/img/toque.png" width="25rem" height="25rem" class="" />
                            <p class="font-roboto text-lg ml-2">Moyen</p>
                        </div>
                    </div>
                </div>
            </div>
        </button>
        <button routerLink="/recipe/recipe-item"
            class="bg-[#FFFCF9] border-[#031826] border-2 rounded-xl p-2 mr-5 relative transform transition-transform duration-300 hover:scale-105">
            <div>
                <div class="flex">
                    <div class="image-item mr-4 w-52">
                        <div id="image" class="image-item-content">
                            <img src="../../assets/img/fraisier.jpg" alt="Image" class="carousel-image rounded-xl" />
                        </div>
                    </div>
                    <div>
                        <h2 class="font-roboto text-left text-2xl">Dessert</h2>
                        <div>
                            <p-rating [(ngModel)]="value" stars="5">
                                <ng-template pTemplate="onicon">
                                    <img src="../../assets/img/ratingcolor.png" width="40rem" height="40rem" />
                                </ng-template>
                                <ng-template pTemplate="officon">
                                    <img src="../../assets/img/rating.png" width="40px" height="40px" />
                                </ng-template>
                            </p-rating>
                        </div>
                        <div class="flex mt-4">
                            <img src="../../assets/img/time.png" width="25rem" height="25rem" class="" />
                            <div class="flex">
                                <p class="font-roboto text-lg ml-2">45</p>
                                <p class="font-roboto text-lg">mins</p>
                            </div>
                        </div>
                        <div class="flex mt-4">
                            <img src="../../assets/img/toque.png" width="25rem" height="25rem" class="" />
                            <p class="font-roboto text-lg ml-2">Moyen</p>
                        </div>
                    </div>
                </div>
            </div>
        </button>
        <button routerLink="/recipe/recipe-item"
            class="bg-[#FFFCF9] border-[#031826] border-2 rounded-xl p-2 mr-5 relative transform transition-transform duration-300 hover:scale-105">
            <div>
                <div class="flex">
                    <div class="image-item mr-4 w-52">
                        <div id="image" class="image-item-content">
                            <img src="../../assets/img/fraisier.jpg" alt="Image" class="carousel-image rounded-xl" />
                        </div>
                    </div>
                    <div>
                        <h2 class="font-roboto text-left text-2xl">Dessert</h2>
                        <div>
                            <p-rating [(ngModel)]="value" stars="5">
                                <ng-template pTemplate="onicon">
                                    <img src="../../assets/img/ratingcolor.png" width="40rem" height="40rem" />
                                </ng-template>
                                <ng-template pTemplate="officon">
                                    <img src="../../assets/img/rating.png" width="40px" height="40px" />
                                </ng-template>
                            </p-rating>
                        </div>
                        <div class="flex mt-4">
                            <img src="../../assets/img/time.png" width="25rem" height="25rem" class="" />
                            <div class="flex">
                                <p class="font-roboto text-lg ml-2">45</p>
                                <p class="font-roboto text-lg">mins</p>
                            </div>
                        </div>
                        <div class="flex mt-4">
                            <img src="../../assets/img/toque.png" width="25rem" height="25rem" class="" />
                            <p class="font-roboto text-lg ml-2">Moyen</p>
                        </div>
                    </div>
                </div>
            </div>
        </button>


    </div>
</div>