html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-container {
    flex: 1;
}