<div class="p-16">
    <div class="flex space-x-2">
        <p class="font-roboto text-3xl">Voici les résultats pour la recherche :</p>
        <p class="font-roboto text-3xl">Les meilleurs films</p>
    </div>
    <div class="grid grid-cols-6 max-xl:grid-cols-3 gap-2 mt-5">
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>
        <div
            class="image-item w-64 px-2 pt-7 pb-2 mx-auto transform transition-transform duration-300 hover:scale-105 ">
            <div id="note"
                class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                <p class="text-black font-roboto text-lg">{{notes}}</p>
            </div>
            <div id="image" class="image-item-content pr-5">
                <a routerLink="/video/video-item">
                    <img src="../../assets/img/frozen2.jpg" alt="Image" class="carousel-image rounded-xl" />
                </a>
            </div>
        </div>

    </div>
</div>