<div class="w-3/4 mx-auto mb-16 mt-4">
    <h1 class="text-3xl font-roboto mb-4">Films</h1>
    <p-carousel [value]="videoList" [numVisible]="5" [numScroll]="1" [circular]="true"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-video pTemplate="item">
            <div
                class="image-item w-64 space-x-1 px-2 pt-7 pb-2 relative transform transition-transform duration-300 hover:scale-105 ">
                <div id="note"
                    class="flex bg-[#A9B2AE] rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                    <p class="text-black font-roboto text-lg">{{video.average | number: '1.0-1'}}</p>
                </div>
                <div id="image" class="image-item-content pr-5">
                    <a routerLink="/video/video-item/{{video.id}}">
                        <img src="https://image.tmdb.org/t/p/original/{{video.poster}}" alt="Image" class="carousel-image rounded-xl" />
                    </a>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>