<div class="w-3/4 mx-auto my-16">
    <h1 class="text-3xl font-roboto mb-4">Films</h1>
    <p-carousel [value]="images" [numVisible]="5" [numScroll]="1" [circular]="true">
        <ng-template let-image pTemplate="item">
            <div
                class="image-item w-64 space-x-1 px-2 pt-7 pb-2 relative transform transition-transform duration-300 hover:scale-105 ">
                <div id="note"
                    class="flex bg-blue-400 rounded-full h-12 w-12 justify-center items-center absolute top-3 right-3">
                    <p class="text-white font-roboto text-lg">{{notes}}</p>
                </div>
                <div id="image" class="image-item-content pr-5">
                    <a routerLink="/video/video-item">
                        <img src="{{image}}" alt="Image" class="carousel-image" />
                    </a>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>