<div class="bg-[#FFD438] w-full h-24">
  <div class="flex space-between h-full w-full">

    <!-- Logo -->
    <div class="flex w-60 max-xl:w-40">
      <div class="mx-auto my-auto">
        <a routerLink="/home"
          class="text-[#671321] cursor-pointer text-4xl max-xl:text-2xl mx-auto font-bold">MiamFilm</a>
      </div>
    </div>

    <!-- Navigation -->
    <div class=" flex grow justify-center">
      <div class="my-auto px-8 max-xl:px-4">
        <a routerLink="/home"
          class="text-black cursor-pointer text-2xl max-xl:text-lg font-roboto rounded-md px-2 py-2 hover:bg-[#671321] hover:text-[#FFD438]">
          Accueil
        </a>
      </div>


      <div class="my-auto px-8 max-xl:px-4">
        <button id=" dropdownHoverButton1" data-dropdown-toggle="dropdownHover1" data-dropdown-delay="050"
          data-dropdown-trigger="hover"
          class="flex items-center text-black text-2xl max-xl:text-lg font-roboto rounded-md px-2 py-2 hover:bg-[#671321] hover:text-[#FFD438]"
          type="button">
          <span>Films</span>
          <img src="../../assets/img/arrow.png" alt="Image" class="w-3 ml-1" />
        </button>

        <div id="dropdownHover1"
          class="z-10 hidden divide-y divide-gray-100 rounded-lg shadow-lg shadow-[#A9B2AE] w-44 bg-[#671321]">
          <ul class="py-2 text-sm  " aria-labelledby="dropdownHoverButton1">
            <div *ngFor="let tag of tagList">
              <li>
                <a href="#" class="block px-4 py-2 text-white font-roboto hover:text-black hover:bg-[#FFD438]">{{tag.name}}</a>
              </li>
            </div>
            <!-- <li>
              <a href="#" class="block px-4 py-2 text-white font-roboto hover:text-black hover:bg-[#FFD438]">Comédie</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 text-white font-roboto hover:text-black hover:bg-[#FFD438]">Horreur</a>
            </li> -->
          </ul>
        </div>


      </div>
      <div class="my-auto px-8 max-xl:px-4">
        <button id="dropdownHoverButton2" data-dropdown-toggle="dropdownHover2" data-dropdown-delay="050"
          data-dropdown-trigger="hover"
          class="flex items-center text-black text-2xl max-xl:text-lg font-roboto rounded-md px-2 py-2 hover:bg-[#671321] hover:text-[#FFD438]"
          type="button">
          Séries
          <img src="../../assets/img/arrow.png" alt="Image" class="w-3 ml-1" />
        </button>

        <div id="dropdownHover2"
          class="z-10 hidden divide-y divide-gray-100 rounded-lg shadow-lg shadow-[#A9B2AE] w-44 bg-[#671321]">
          <ul class="py-2 text-sm  " aria-labelledby="dropdownHoverButton2">
            <li>
              <a href="#"
                class="block px-4 py-2 text-white hover:text-black font-roboto hover:bg-[#FFD438]  ">Policière</a>
            </li>
            <li>
              <a href="#"
                class="block px-4 py-2 text-white hover:text-black font-roboto hover:bg-[#FFD438] ">Comédie</a>
            </li>
            <li>
              <a href="#"
                class="block px-4 py-2 text-white hover:text-black font-roboto hover:bg-[#FFD438]  ">Romance</a>
            </li>
          </ul>
        </div>
      </div>


      <!-- <div class="my-auto px-8 max-xl:px-4">
        <button id="dropdownHoverButton3" data-dropdown-toggle="dropdownHover3" data-dropdown-delay="050"
          data-dropdown-trigger="hover"
          class="flex items-center text-black text-2xl max-xl:text-lg font-roboto rounded-md px-2 py-2 hover:bg-[#671321] hover:text-[#FFD438]"
          type="button">
          Animes/Mangas
          <img src="../../assets/img/arrow.png" alt="Image" class="w-3 ml-1" />
        </button>

        <div id="dropdownHover3"
          class="z-10 hidden divide-y divide-gray-100 rounded-lg shadow-lg shadow-[#A9B2AE] w-44 bg-[#671321]">
          <ul class="py-2 text-sm  " aria-labelledby="dropdownHoverButton3">
            <li>
              <a href="#"
                class="block px-4 py-2 text-white font-roboto hover:text-black  hover:bg-[#FFD438]">Policière</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 text-white font-roboto hover:text-black hover:bg-[#FFD438]">Comédie</a>
            </li>
            <li>
              <a href="#"
                class="block px-4 py-2 text-white font-roboto hover:text-black  hover:bg-[#FFD438]">Romance</a>
            </li>
          </ul>
        </div>
      </div> -->


      <div class="my-auto px-8 max-xl:px-4">
        <button id="dropdownHoverButton4" data-dropdown-toggle="dropdownHover4" data-dropdown-delay="050"
          data-dropdown-trigger="hover"
          class="flex items-center text-black text-2xl max-xl:text-lg font-roboto rounded-md px-2 py-2 hover:bg-[#671321] hover:text-[#FFD438]"
          type="button">
          Recettes
          <img src="../../assets/img/arrow.png" alt="Image" class="w-3 ml-1" />
        </button>

        <div id="dropdownHover4"
          class="z-10 hidden divide-y divide-gray-100 rounded-lg shadow-lg shadow-[#A9B2AE] w-44 bg-[#671321]">
          <ul class="py-2 text-sm  " aria-labelledby="dropdownHoverButton3">
            <li>
              <a href="#"
                class="block px-4 py-2 text-white font-roboto hover:bg-[#FFD438] hover:text-black ">Policière</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 text-white font-roboto hover:bg-[#FFD438] hover:text-black">Comédie</a>
            </li>
            <li>
              <a href="#"
                class="block px-4 py-2 text-white font-roboto hover:bg-[#FFD438]  hover:text-black">Romance</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Bouton profile -->
    <div class=" flex justify-end">
      <!--<div class="mr-14 max-xl:mr-16 my-auto">
        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
          class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
          aria-expanded="false" aria-haspopup="true" type="button">
          <span class="absolute -inset-1.5"></span>
          <span class="sr-only">Open user menu</span>
          <img class="h-12 w-12 rounded-full bg-[#671321]" src="../../assets/img/user-icon.png" alt="user-icon">
        </button>
        <div id="dropdown" class="z-10 hidden bg-[#A9B2AE] divide-y divide-gray-100 rounded-lg shadow w-32">
          <ul class="py-2 text-sm text-gray-700 " aria-labelledby="dropdownDefaultButton">
            <li>
              <a routerLink="/profile"
                class="block px-4 max-xl:px-2 py-2 max-xl:py-1 hover:bg-[#031826] hover:text-white">Profile</a>
            </li>
            <li>
              <a routerLink="/auth/sign-out"
                class="block px-4 max-xl:px-2 py-2 max-xl:py-1 hover:bg-[#031826] hover:text-white">Déconnexion</a>
            </li>
          </ul>
        </div>
      </div>-->
      <div class="flex mr-8 my-auto">
        <ng-container *ngIf="isTokenValid; else onlinedata">
          <button (click)="onSignOut()"
          class="text-black hover:bg-[#671321] hover:text-[#FFD438] rounded-md px-2 py-2 text-xl max-xl:text-base font-roboto">Se déconnecter</button>
        </ng-container>
        <ng-template #onlinedata>
          <a routerLink="/auth/login"
          class="text-black hover:bg-[#671321] hover:text-[#FFD438] rounded-md px-2 py-2 text-xl max-xl:text-base font-roboto">Connexion</a>
        <a routerLink="/auth/register"
          class="text-black hover:bg-[#671321] hover:text-[#FFD438] rounded-md px-2 py-2 text-xl  max-xl:text-base font-roboto">Inscription</a>
        </ng-template>
      </div>
    </div>
  </div>
</div>