<div class="bg-[#FFD438] w-full h-24">
    <div class="flex items-center h-full">
      
      <!-- Logo -->
      <div class="flex w-60 min-w-min">
        <div class="mx-auto my-auto">
          <h1 class="text-[#671321] text-4xl mx-auto font-bold">MiamFilm</h1>
        </div>
      </div>
  
      <!-- Navigation -->
      <div class="ml-32 flex space-x-20">
        <div class="my-auto">

           

        </div>
        <div class="my-auto">
          <h1 class="text-black text-2xl font-roboto">Films</h1>
        </div>
        <div class="my-auto">
          <h1 class="text-black text-2xl font-roboto">Séries</h1>
        </div>
        <div class="my-auto mr-16">
          <h1 class="text-black text-2xl font-roboto">Animes/Mangas</h1>
        </div>
        <div class="my-auto mr-16">
            <h1 class="text-black text-2xl font-roboto">Recettes</h1>
          </div>
      </div>
  
      <!-- Bouton profile -->
      <div class="flex-1 flex justify-end">
        <!--<div class="mr-52">
          <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
                  class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                  aria-expanded="false" aria-haspopup="true" type="button">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">Open user menu</span>
            <img class="h-12 w-12 rounded-full bg-gray-400" src="../../assets/img/user-icon.png" alt="user-icon">
          </button>
        </div>-->
        <div class="flex mr-36 my-auto">
            <a routerLink="/login"
            class="text-black hover:text-[#671321] hover:bg-[#A9B2AE] hover:bg-opacity-90 rounded-md px-2 py-2 text-xl font-roboto">Connexion</a>
            <a routerLink="/register"
            class="text-black hover:text-[#671321] hover:bg-[#A9B2AE] hover:bg-opacity-90 rounded-md px-2 py-2 text-xl font-roboto">Inscription</a>
          </div>
      </div>
      
    </div>
  </div>

 
<button id="dropdownDividerButton" data-dropdown-toggle="dropdownDivider" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Dropdown divider <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg>
    </button>
    
    <!-- Dropdown menu -->
    <div id="dropdownDivider" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDividerButton">
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
          </li>
        </ul>
        <div class="py-2">
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Separated link</a>
        </div>
    </div>
    