<!--<div class="sign-out-container relative rounded-2xl bg-[#46494C] min-w-min forme1 z-10 w-80 h-3/4 mt-20 mx-auto p-3">
    <div class="min-w-min">
        <div class="flex">-->
<button (click)="onSignOut()"
    class="sign-out-button text-white bg-[#671321] hover:bg-[#450D16] focus:ring-4
                focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-40 px-5 py-2.5 text-center font-roboto">
    Se déconnecter</button>
<!--<button routerLink="/home"
    class="back-button text-white hover:bg-[#A9B2AE] bg-[#868689] hover:text-black focus:ring-4 focus:outline-none font-roboto focus:ring-blue-300 font-medium rounded-lg text-sm w-40 px-5 ml-5 py-2.5 text-center">Back</button>
</div>
    </div>
</div>-->