<form [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="mb-10">
    <ng-container *ngIf="type === 'critic'; else next">
        <div class="relative rounded-xl bg-[#FFD438] min-w-min forme1 z-10 w-1/4 h-3/4 mt-20 mx-auto p-3">
            <h1 class="text-black font-roboto text-center mt-8 mb-10 text-5xl">Ajouter la critic</h1>
            <div class="flex">
                <div class="inline-block relative w-64 mb-5">
                    <label for="title" class="block mb-2 text-sm font-medium font-roboto text-black">Titre :</label>
                    <input id="title" formControlName="title"
                    class="font-roboto bg-[#fffdf9e5] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">

                </div>
                <div class="mb-5 ml-5">
                    <label for="note" class="block mb-2 text-sm font-medium font-roboto text-black">Note :</label>
                    <input type="number" id="note" name="note" min="0" max="10"
                        class="bg-[#fffdf9e5] border border-gray-300 font-roboto text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-14 p-2.5">
                </div>
            </div>
            <div class="mb-5">
                <label for="description" class="block mb-2 text-sm font-medium font-roboto text-black">Texte :</label>
                <div>
                    <label class="sr-only font-roboto" for="critique">Critic</label>
                    <textarea id="description" formControlName="description"
                        class="w-full rounded-lg border-gray-200 bg-[#fffdf9e5] font-roboto p-3 text-gray-900 text-sm"
                        placeholder="Le meilleur film du monde !!" rows="8"></textarea>
                </div>
            </div>
            <div class="min-w-min">
                <div class="flex">
                    <button type="submit" routerLink="/video/video-item/{{idVideo}}"
                    class="text-white font-roboto mr-4 bg-[#671321] hover:bg-[#450D16] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-40 px-5 py-2.5 mx-auto text-center ">
                    Valider
                </button>
                <button routerLink="/video/video-item/{{idVideo}}"
                    class="text-white font-roboto bg-[#868689] hover:bg-[#A9B2AE] focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-40 px-5 py-2.5 mr-auto text-center ">
                    Retour
                </button>
     
                </div>
            </div>
        </div>
    </ng-container>
    </form>

    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="mb-10">
    <ng-template #next>
        <ng-container *ngIf="type === 'recette'">
        <div class="relative rounded-xl bg-[#FFD438] min-w-min forme1 z-10 w-1/3 h-3/4 mt-20 mx-auto p-3">
            <h1 class="text-black font-roboto text-center mt-8 mb-10 text-5xl">Ajouter une recette</h1>
            <div class="flex">

                <div class="inline-block relative w-64 mb-5">
                    <label for="title" class="block mb-2 text-sm font-medium font-roboto text-black">Titre :</label>
                    <input id="title" formControlName="title"
                        class="font-roboto bg-[#fffdf9e5] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <label for="ingredients" class="block mb-2 text-sm font-medium font-roboto text-black">Ingredients :</label>
                        <input id="ingredients" formControlName="ingredients" class="font-roboto bg-[#fffdf9e5] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                </div>
                <div class="mb-5 ml-5">
                    <label for="note" class="block mb-2 text-sm font-medium font-roboto text-black">Note :</label>
                    <div>
                        <p-rating [(ngModel)]="value" stars="5">
                            <ng-template pTemplate="onicon">
                                <img src="../../assets/img/ratingcolor.png" class="w-12 h-12 max-xl:w-8 max-xl:h-8" />
                            </ng-template>
                            <ng-template pTemplate="officon">
                                <img src="../../assets/img/rating.png" class="w-12 h-12 max-xl:w-8 max-xl:h-8" />
                            </ng-template>
                        </p-rating>
                    </div>
                </div>

            </div>
            <div class="flex space-x-4">
                <div class="mb-5 w-1/4 max-xl:w-1/2">
                    <label for="difficult" class="block mb-2 text-sm font-roboto text-black ">Difficulté :</label>
                    <select id="difficult" formControlName="difficult"
                        class="bg-[#fffdf9e5] border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option selected>Difficulté</option>
                        <option value="1">Facile</option>
                        <option value="2">Moyen</option>
                        <option value="3">Difficile</option>
                    </select>
                </div>
                <div>
                    <label for="preparation_time" class="block mb-2 text-sm font-roboto text-black ">Temps de réalisation</label>
                    <div class="flex space-x-2">
                        <input type="temps" id="preparation_time" formControlName="preparation_time"
                            class="font-roboto bg-[#fffdf9e5] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <p class="font-roboto text-sm my-auto">mins</p>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <label for="critique" class="block mb-2 text-sm font-medium font-roboto text-black">Texte :</label>
                <div>
                    <textarea id="description" formControlName="description"
                        class="w-full rounded-lg border-gray-200 bg-[#fffdf9e5] font-roboto p-3 text-gray-900 text-sm"
                        placeholder="Le meilleur dessert du monde !!" rows="8"></textarea>
                </div>
            </div>
            <div class="min-w-min">
                <div class="flex">
                    <button type="submit"
                        class="text-white font-roboto mr-4 bg-[#671321] hover:bg-[#450D16] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-40 px-5 py-2.5 mx-auto text-center ">
                        Valider
                    </button>
                    <button routerLink="/recipe/recipe-item"
                        class="text-white font-roboto bg-[#868689] hover:bg-[#A9B2AE] focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-40 px-5 py-2.5 mr-auto text-center ">
                        Retour
                    </button>
                </div>
            </div>
        </div>
        </ng-container>
    </ng-template>
</form>